/* Reset */
body,
h1,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */
.header {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  margin: 85px 57px;
}

.logo h1 {
  font-weight: bold;
  font-size: 2.5em;
  color: #d2872c;
}

.navigation ul {
  display: flex;
}

.navigation li a {
  font-size: 30px;
  margin: 0 0 0 25px;
  color: #222;
}

.main {
  max-width: 1400px;
  margin: 130px auto 0;
  position: relative;
}

.main::after,
.main::before {
  content: '';
  display: table;
  clear: both;
}

.info {
  left: 90px;
  position: absolute;
}

.info h1 {
  font-size: 5.4em;
  max-width: 800px;
  color: #766f68;
}

.info p {
  margin: 35px 0;
  max-width: 550px;
  font-size: 2.187em;
  color: #766f68;
}

.info-btn {
  width: 372px;
  font-size: 2.187em;
  font-weight: bold;
  padding: 20px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background: #d2872c;
}

.info-img {
  padding-top: 30px;
  margin-right: auto;
  float: right;
}

.info-img img {
  max-width: 860px;
  margin-left: auto;
}
