/* Reset */
body,
h1,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */
.header {
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  margin: 85px 57px;
}

.logo h1 {
  font-weight: bold;
  font-size: 2.5em;
  color: #d2872c;
}

.navigation ul {
  display: flex;
}

.navigation li a {
  font-size: 30px;
  margin: 0 0 0 25px;
  color: #222;
  align-items: center;
}

.main {
  max-width: 1400px;
  margin: 130px auto 0;
  position: relative;
}

.main::after,
.main::before {
  content: '';
  display: table;
  clear: both;
}

.info {
  left: 90px;
  position: absolute;
}

.info h1 {
  font-size: 5.4em;
  max-width: 800px;
  color: #766f68;
}

.info p {
  margin: 35px 0;
  max-width: 550px;
  font-size: 2.187em;
  color: #766f68;
}

.info-btn {
  width: 372px;
  font-size: 2.187em;
  font-weight: bold;
  padding: 20px 20px;
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  color: #fff;
  background: #d2872c;
}

.info-img {
  padding-top: 30px;
  margin-right: auto;
  float: right;
}

.info-img img {
  max-width: 860px;
  margin-left: auto;
}

/* Responsivo */
@media (max-width: 1255px) {
  .info h1 {
    font-size: 2.81em;
  }

  .info-img img {
    max-width: 760px;
    margin-left: auto;
  }

  .info p {
    max-width: 450px;
  }

  .info-btn {
    width: 272px;
    font-size: 1.187em;
    font-weight: bold;
    padding: 15px 20px;
  }
}

@media (max-width: 970px) {
  .info-img img {
    max-width: 460px;
    margin-left: auto;
    display: block;
  }

  .info p {
    max-width: 380px;
  }

  .info-btn {
    width: 272px;
    font-size: 1.187em;
    font-weight: bold;
    padding: 15px 20px;
  }
}

@media (max-width: 800px) {
  .header {
    margin: 55px 37px;
  }

  .main {
    max-width: 680px;
    margin: 0 auto 0;
  }

  .info {
    position: relative;
    left: 0;
    margin: 0 0 50px 0;
    padding: 0;
  }

  .info h1 {
    text-align: center;
  }

  .info-img img {
    max-width: 500px;
    margin: 0;
    padding: 0;
    display: block;
  }

  .info p {
    margin: 25px auto;
    text-align: center;
    display: block;
  }

  .info-btn {
    width: 272px;
    font-size: 1.187em;
    margin: 0 auto;
    font-weight: bold;
    padding: 15px 20px;
    display: block;
  }

  .navigation a {
    display: none;
  }

  .navigation::after {
    content: '';
    margin-right: 4px;
    margin-top: 25px;
    display: inline-block;
    height: 3px;
    width: 25px;
    background: #000;
    box-shadow: 0 7px #000, 0 -7px #000, 0 -14px #000;
    transition: transform 0.3s;
  }
}
