//Colors
$colorMain: #d2872c;
$colorSecondary: #766f68;
$colorTertiary: #3f4044;
$colorLight: #fff;

//Font sizes
$font-small: 0.875rem; //14px
$font-medium: 1.125rem; //18px
$font-large: 1.5rem; //24px
$font-xlarge: 2rem; //32px
$font-xlg: 4rem; //64px
